{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        {% for wish in wishes %}
        <li>  
            <a href="{{ path('details', {id: wish.id}) }}">{{ wish.title }}</a>
            <a href="{{ path('edit', {id: wish.id}) }}" class="btn btn-sm btn-warning"> Edit </a>
            <a href="{{ path('delete', {id: wish.id}) }}" class="btn btn-sm btn-danger"> Remove </a>
        </li>
        {% endfor %}
    </ul>

    <br/>

    <a href="{{ path('add') }}" class="btn btn-primary">Add</a>

</div>
{% endblock %}
